<!DOCTYPE HTML>

<title>{% block title %} {% endblock %}</title>

    {% block body %}

    {% endblock %}

<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}" /></noscript>
	</head>

<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>
