<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='css/noscript.css')}}" /></noscript>
	</head>

	<body class="is-preload">
		
		<div id="wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<span class="logo"><img src="{{url_for('static', filename='images/logo.png')}}" alt="" /></span>
				<h1>{{evento.nombre}}</h1>
				<p>{{evento.organizador}}</p>
			</header>

			{% block body %}

			{% endblock %}

			<!-- Footer -->

		<section id="contacto">
			<footer id="footer">
				
				<section>
					<h2>{{evento.organizador}}</h2>
					<dl class="alt">
						<dt>Direccion</dt>
						<dd>{{evento.lugar}}</dd>
						<dt>Telefono</dt>
						<dd>{{evento.telefono}}</dd>
						<dt>Email</dt>
						<dd><a href="#">{{evento.email}}</a></dd>
					</dl>
					
					<ul class="icons">
						{% for red,link in evento.sociales.items() %}
							<li><a href= {{link}} class="icon brands fa-{{red}} alt"><span class="label"> {{red}} </span></a></li>
						{% endfor %}
					</ul>
				
				</section>
				
				<p class="copyright">&copy; TP2. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
			
			</footer>
		</section>

			<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>

		</div>

	</body>	

</html>