{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Main -->
 
<div id="main">

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="#intro" class="active">Introducción</a></li>
			<li><a href="#first">Mapas</a></li>
			<li><a href="#second">Auspiciantes</a></li>
			<li><a href="#third">Kit de carrera</a></li>
			<li><a href="#fourth">Inscripción</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
	</nav>

	<!-- Introduction -->
	<section id="intro" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>{{evento.nombre}}</h2>
				</header>
				
				<p>{{evento.nombre}} organizado por {{evento.organizador}}. 
					Se realizará el {{evento.fecha}} a las {{evento.horario}} en {{evento.lugar}}.</p>
				<ul class="actions">
					<a id="reglamento" href="{{url_for('static', filename='documents/Reglamento.pdf')}}" class="button" target="_blank">Reglamento</a>
					<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
				</ul>
			
			</div>
			
			<span class="image"><img src="{{url_for('static', filename='images/bici1.jpeg')}}" alt="" /></span>
		
		</div>
		
		<div class="content">
			<section>
				<header class="major">
					<h3>MTB Tandil 2025 – ¡Desafía tus límites sobre dos ruedas!</h3>
				</header>
				<p>Únete al evento de ciclismo MTB más emocionante de Tandil, Buenos Aires, organizado por el Club Social y Deportivo Unidos por el Deporte. 
					Disfrutá de paisajes únicos, senderos desafiantes y la adrenalina del MTB.</p>
				<p>Modalidades:</p>
				<li>Larga: Para los que buscan un verdadero desafío y resistencia.</li>
				<li>Corta: Ideal para disfrutar del recorrido sin perder intensidad ni diversión.</li>	
				<p>Incluye: kit de carrera, medalla y asistencia durante todo el recorrido.</p>
 				<p>¡Inscribite ahora y pedaleá hacia la aventura!</p>
			</section>
	</section>

	<!-- Map (Google) -->
	<section id="first" class="main special">
		<header class="major">
			<h2>Mapa del recorrido</h2>
		</header>
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XHC1evnvwW19Cxpd5lp7jN8vf8elgy0&ehbc=2E312F" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<ul class="features">
			<li>
				<h3>Punto de Salida</h3>
				<p>El evento comenzará en la ciudad de Tandil, en la Plaza Independencia.</p>
			</li>
			<li>
				<h3>Punto de Llegada</h3>
				<p>El evento finalizará en la ciudad de Gardey, en la Plaza Principal.</p>
			</li>
			<li>
				<h3>Puntos de Hidratacion</h3>
				<p>Habrá puntos de hidratación cada 10 km a lo largo del recorrido.</p>
			</li>					
		</ul>
	</section>


	<!-- Mapa largo -->
	<section id="first" class="main special">
		<header class="major">
			<h2>Mapa del recorrido largo</h2>
		</header>
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1fG5vtck24JxvLMZiHVB8iuQyZh5EdnI&ehbc=2E312F" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<ul class="features">
			<li>
				<h3>Punto de Salida</h3>
				<p>El evento comenzará en la ciudad de Tandil, en el Parque del origen.</p>
			</li>
			<li>
				<h3>Punto de Llegada</h3>
				<p>El evento finalizará en el sitio de comienzo de la carrera.</p>
			</li>
			<li>
				<h3>Puntos de Hidratacion</h3>
				<p>Habrá puntos de hidratación cada 10 km a lo largo del recorrido.</p>
			</li>					
		</ul>
	</section>

	<!-- Sponsors-->
	<section id="second" class="main special">
		<header class="major">
			<h2>Auspiciantes</h2>
		</header>
		<ul class="statistics">
			{% for sponsor in evento.auspiciantes %}
				<li class="style3">
				<span class="icon solid brands fa-{{sponsor}}"></span>
				<strong>{{sponsor.capitalize()}}</strong>
			</li>
			{% endfor %}
		</ul>
		<p class="content">Desde la organización queremos expresar nuestro más sincero agradecimiento a las empresas y organizaciones que hicieron posible esta edición. Contar con el respaldo de marcas líderes a nivel global no solo fortalece nuestro compromiso con el deporte, sino que también nos permite ofrecer una experiencia de mayor calidad para todos los participantes, voluntarios y asistentes.</p>
	</section>

	<!-- Get Started -->
	<section id="third" class="main special">
		
		<h2>Kit de Carrera</h2>

		<p>Al inscribirte en el evento, recibirás un kit de carrera que incluye los siguientes elementos:</p>
		
		<ol>
			{% for item in kit %}
			<li>{{item}}</li>
			{% endfor %}
		</ol>
	
		
	</section>
	
	<section id="fourth" class="main special">
		<header class="major">
			<h2>Inscripción</h2>
		</header>
		<p>Rellena el formulario para inscribirte al evento.</p>
		<div>
			<a href="{{url_for('formulario')}}" class="button">Registrate</a>
		</div>
		<a id="deslinde" href="{{url_for('static', filename='documents/Deslinde.pdf')}}" title= "Deslinde de responsabilidad" target="_blank">Formulario obligatorio de deslinde de responsabilidad</a>

	</section>

</div>

{% endblock %}