{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Main -->
<div id="main">

	<!-- Introduction -->
	<section id="intro" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>Ipsum sed adipiscing</h2>
				</header>
				<p>Rally MTB 2025 organizado por Club Social y Deportivo Unidos por el Deporte. 
					Se realizará el 24 de Octubre de 2025 a las 8am en Tandil, Buenos Aires.</p>
				<ul class="actions">
				<a 
				id="reglamento" href="{{url_for('static', filename='documents/Reglamento.pdf')}}" class="button" target="_blank">Reglamento
				</a>
					<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
				</ul>
			</div>
			<span class="image"><img src="{{url_for('static', filename='images/bici1.jpeg')}}" alt="" /></span>
		</div>
	</section>

	<!-- Map (Google) -->
	<section id="first" class="main special">
		<header class="major">
			<h2>Mapa del recorrido</h2>
		</header>
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XHC1evnvwW19Cxpd5lp7jN8vf8elgy0&ehbc=2E312F" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<ul class="features">
			<li>
				<h3>Punto de Salida</h3>
				<p>El evento comenzará en la ciudad de Tandil, en la Plaza Independencia.</p>
			</li>
			<li>
				<h3>Punto de Llegada</h3>
				<p>El evento finalizará en la ciudad de Gardey, en la Plaza Principal.</p>
			</li>
			<li>
				<h3>Puntos de Hidratacion</h3>
				<p>Habrá puntos de hidratación cada 10 km a lo largo del recorrido.</p>
			</li>					
		</ul>
		<footer class="major">
			<ul class="actions special">
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
			</ul>
		</footer>
	</section>

	<!-- Sponsors-->
	<section id="second" class="main special">
		<header class="major">
			<h2>Auspiciantes</h2>
		</header>
		<ul class="statistics">
			<li class="style1">
				<span class="icon solid brands fa-google"></span>
				<strong>Google</strong>
			</li>
			<li class="style2">
				<span class="icon solid brands fa-youtube"></span>
				<strong>YouTube</strong>
			</li>
			<li class="style3">
				<span class="icon solid brands fa-linkedin"></span>
				<strong>LinkedIn</strong>
			</li>
			<li class="style4">
				<span class="icon solid brands fa-shopify"></span>
				<strong>Shopify</strong>
			</li>
			<li class="style5">
				<span class="icon solid brands fa-rebel"></span>
				<strong>Alianza Rebelde</strong>
			</li>
		</ul>
		<p class="content">Desde la organización queremos expresar nuestro más sincero agradecimiento a las empresas y organizaciones que hicieron posible esta edición. Contar con el respaldo de marcas líderes a nivel global no solo fortalece nuestro compromiso con el deporte, sino que también nos permite ofrecer una experiencia de mayor calidad para todos los participantes, voluntarios y asistentes.</p>
		<footer class="major">
			<ul class="actions special">
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
			</ul>
		</footer>
	</section>

	<!-- Get Started -->
	<section id="third" class="main special">

		<div class="kit">
			<h3>Kit de carrera</h3>
			<p>El evento incluye los siguientes elementos esenciales para los participantes:</p>
			<p>
				{% for item in kit %}
					<li>{{ item }}</li>
				{% endfor %}
			</p>
		</div>

		<header class="major">
			<h2>Inscripción</h2>
			<p>Rellena el formulario para inscribirte al evento.</p>
			<a href="{{url_for('formulario')}}" class="button">Registrate</a>
			<p>Formulario obligatorio de deslinde de responsabilidad.</p>
			<a id="deslinde" href="{{url_for('static', filename='documents/Deslinde.pdf')}}" target="_blank">Deslinde de responsabilidad</a>
		</header>

		<footer class="major">
			<ul class="actions special">
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
				<li><a href="{{url_for('formulario')}}" class="button">Registrate</a></li>
			</ul>
		</footer>
	</section>

</div>

{% endblock %}